{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="edit-profile-container">
        <h2 class="edit-profile-heading">Edit Profile</h2>
        <form method="post" class="edit-profile-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-save">Save changes</button>
        </form>
    </div>
{% endblock %}
