{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="profile-heading">User Profile</h1>
        <div class="profile-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First name:</strong> {{ user.first_name }}</p>
            <p><strong>Last name:</strong> {{ user.last_name }}</p>
        </div>
        <a href="{% url 'edit_profile' %}" class="btn btn-edit">Edit Profile</a>
    </div>
{% endblock %}
