{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1 class="auth-heading">Create an Account</h1>

        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign up</button>
            <p class="auth-footer">Already have an account? <a href="{% url 'login' %}" class="btn btn-signup">Sign in</a></p>
        </form>
    </div>
{% endblock %}
