{% extends "base.html" %}

{% block title %}Burry Lome{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="heading">Your Accounts</h2>

        {% if user.is_authenticated %}
            {% if accounts %}
                <div class="account-cards">
                    {% for account in accounts %}
                        <a href="#" class="card-link">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ account.name }}</h5>
                                    <p class="card-text">Balance: {{ account.balance }} ₽</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-accounts">You have no accounts yet. <a href="{% url 'create_account' %}">Create one</a></p>
            {% endif %}
        {% else %}
            <p class="text-center">Please <a href="{% url 'login' %}">sign in</a> to view your accounts.</p>
        {% endif %}
    </div>
{% endblock %}
