{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create_transfer.css' %}">
{% endblock %}

{% block title %}Create Transfer{% endblock %}

{% block content %}
    <div class="transfer-container">
        <h2 class="transfer-heading">Create Transfer</h2>
        <form method="post" class="transfer-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-save">Save</button>
        </form>
    </div>
{% endblock %}
